footer{
  background-color: dimgray;
  margin: -8px;
  margin-bottom: -100%;
}

.bildeboks{
  text-align: left;
  float: left;
  clear: left;
}

.logo{
  width: 57%;
  height: auto;
}

.info{
  text-align: right;
  font-size: 18px;
  font-family: fantasy;
  color: whitesmoke;
  padding-right: 6px;
}
