@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body, html{
  height: 100%;
  margin-right;
}

section{
  height: 100%;
  display: grid;
}

header{
  height:30%;
  background-image: url(bakgrunn.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}


.overskrift{
  font-family: "Montserrat", sans-serif;
  font-size: 500%;
  color: pink;
  text-shadow: -1px 0 black, 0 1px black, 2px 0 black, 0 -1px black;
  transform: translate(50%, -50%);
}

table{
  border-collapse: collapse;
}

th, td{
  border: 60px;
  border-color: black;
}
